#!/bin/sh
set -o errexit
set -o nounset
set -x
if /bin/setup-runtime-containerd /etc/containerd/config.toml; then
	/bin/echo "restarting containerd"
	/bin/nsenter -t 1 -m -u -i -n -p -- systemctl restart containerd
fi
